<div class="wrap-inferior">
    <div class="skills">
        <div class="banner">Skills</div>
        <ul>
          
        </ul>
    </div>
    <div class="idiomas">
        <div class="banner">Idiomas</div>
        <ul>
           
        </ul>
    </div>
    <div class="educacion">
        <div class="banner">Educación</div>
        <ul>
            <li>
                Universidad de Programadores
                <span>Ingeniero de Sistemas</span>
                <span>19 de Febrero de 2019</span>
            </li>
            <li>
                Oracle Java
                <span>Certificación Java</span>
                <span>19 de Febrero de 2020</span>
            </li>
        </ul>
    </div>  
</div>