<meta charset="utf-8">
<div class="body">


<div id="main">
    <div id="ust">
        <h4 id="baslik">RESUMEN ALAIN DIAZ</h4>
        <div id="islem">
            <div id="y"></div>
            <div id="s"></div>
            <div id="k"></div>
        </div>
        <div class="temizle"></div>
    </div>
   
    <div id="orta">
        <div id="no">
            <span class="numara">1</span>
            <span class="numara">2</span>
            <span class="numara">3</span>
            <span class="numara">4</span>
            <span class="numara">5</span>
            <span class="numara">6</span>
            <span class="numara">7</span>
            <span class="numara">8</span>
            <span class="numara">9</span>
            <span class="numara">10</span>
            <span class="numara">11</span>
            <span class="numara">12</span>
            <span class="numara">13</span>
            <span class="numara">14</span>
            <span class="numara">15</span>
            <span class="numara">16</span>
            <span class="numara">17</span>
            <span class="numara">18</span>
            <span class="numara">19</span>
            <span class="numara">20</span>
            <span class="numara">21</span>
            <span class="numara">22</span>
            <span class="numara">23</span>
            <span class="numara">24</span>
            <span class="numara">25</span>
            <span class="numara">26</span>
            <span class="numara">27</span>
            <span class="numara">28</span>
            <span class="numara">29</span>
            <span class="numara">30</span>
            <span class="numara">31</span>
            <span class="numara">32</span>
            <span class="numara">33</span>
            <span class="numara">34</span>
            <span class="numara">35</span>
            <span class="numara">36</span>
            <span class="numara">37</span>
            <span class="numara">38</span>
            <span class="numara">39</span>
            <span class="numara">40</span>
            <span class="numara">41</span>
            <span class="numara">42</span>
            <span class="numara">43</span>
            <span class="numara">44</span>
            <span class="numara">45</span>
            <span class="numara">46</span>
            <span class="numara">47</span>
            <span class="numara">48</span>
            <span class="numara">49</span>
            <span class="numara">50</span>
            <span class="numara">51</span>
            <span class="numara">52</span>
            <span class="numara">53</span>
            <span class="numara">54</span>
            <span class="numara">55</span>
            <span class="numara">56</span>
            <span class="numara">57</span>
            <span class="numara">58</span>
            <span class="numara">59</span>
            <span class="numara">60</span>
            <span class="numara">61</span>
            <span class="numara">62</span>
            <span class="numara">63</span>
            <span class="numara">64</span>
            <span class="numara">65</span>
            <span class="numara">66</span>
            <span class="numara">67</span>
            <span class="numara">68</span>
            <span class="numara">69</span>
            <span class="numara">70</span>
            <span class="numara">71</span>
            <span class="numara">72</span>

        </div>
        <div id="satir">
            <span class="yorum">/*<br>&nbsp;&nbsp;&nbsp; Here Is My Profile > <a href="#">Jose Alain Diaz Carrero </a> <br>*/</span>
               <br>


               <span class="ab">class </span><span class="cl">datosPersonales {{llaveAbre}}  </span>
               <br>
               <span class="beyaz"></span>
               <span class="secici">&nbsp;&nbsp;&nbsp;<span class="ab">private</span> name</span> <span class="beyaz">=</span>
               <span class="ozellik">&nbsp;"Jose Alain Diaz Carrero"</span><span class="beyaz">;</span>
               <br>
               <span class="secici">&nbsp;&nbsp;&nbsp;<span class="ab">private</span> email</span> <span class="beyaz">=</span>
               <span class="ozellik">&nbsp;"jadcve@gmail.com"</span><span class="beyaz">;</span>
               <br>
               <span class="secici">&nbsp;&nbsp;&nbsp;<span class="ab">private</span> telefono</span> <span class="beyaz">=</span>
               <span class="ozellik">&nbsp;"+56991364514"</span><span class="beyaz">;</span>
               <br>
               <span class="secici">&nbsp;&nbsp;&nbsp;<span class="ab">private</span> linkedl</span> <span class="beyaz">=</span>
               <span class="ozellik">&nbsp; "https://www.linkedin.com/in/jadcve/"</span><span class="beyaz">;</span>
               <br>
               {{llaveCierra}}
            
               <br>
               <br>
               <span class="ab">private function </span> <span class="ti"> educaci&oacute;n {{llaveAbre}}  </span>
               <br>
               <span class="beyaz"></span>
               <span class="secici">&nbsp;&nbsp;&nbsp;<span class="th">this</span><span class="ab">-></span>universidad</span> <span class="beyaz"> =</span>
               <span class="ozellik">&nbsp;"Facultad de Ingenieria, Universidad de Los Andes - M&eacute;rida Venezuela"</span><span class="beyaz">;</span>
               <br>
               <span class="beyaz"></span>
               <span class="secici">&nbsp;&nbsp;&nbsp;<span class="th">this</span><span class="ab">-></span>titulo</span> <span class="beyaz"> =</span>
               <span class="ozellik">&nbsp;"Ingeniero de Sistemas - Opci&oacute;n Sistemas Computacionales"</span><span class="beyaz">;</span>
               <br>
               <span class="beyaz"></span>
               <span class="secici">&nbsp;&nbsp;&nbsp;<span class="th">this</span><span class="ab">-></span>universidad</span> <span class="beyaz"> =</span>
               <span class="ozellik">&nbsp;"Facultad de Ingenieria, Universidad de Los Andes - M&eacute;rida Venezuela"</span><span class="beyaz">;</span>
               <br>
               <span class="beyaz"></span>
               <span class="secici">&nbsp;&nbsp;&nbsp;<span class="th">this</span><span class="ab">-></span>postgrado</span> <span class="beyaz"> =</span>
               <span class="ozellik">&nbsp;"MSc Telecomunicaciones"</span><span class="beyaz">;</span>
               <br>
               <span class="secici">&nbsp;&nbsp;&nbsp;<span class="th">this</span><span class="ab">-></span><span class="ti"> experiencia()</span></span>; 
               <br>
               {{llaveCierra}}
               <br>  
               <br>

               <span class="ab">private function </span> <span class="ti"> experiencia {{llaveAbre}}  </span>
               <br>
               <span class="beyaz"></span>
               <span class="secici">&nbsp;&nbsp;&nbsp;<span class="th">this</span><span class="ab">-></span>universidad</span> <span class="beyaz"> =</span>
               <span class="ozellik">&nbsp;"Facultad de Ingenieria, Universidad de Los Andes - M&eacute;rida Venezuela"</span><span class="beyaz">;</span>
               <br>
               <span class="beyaz"></span>
               <span class="secici">&nbsp;&nbsp;&nbsp;<span class="th">this</span><span class="ab">-></span>titulo</span> <span class="beyaz"> =</span>
               <span class="ozellik">&nbsp;"Ingeniero de Sistemas - Opci&oacute;n Sistemas Computacionales"</span><span class="beyaz">;</span>
               <br>
               <span class="beyaz"></span>
               <span class="secici">&nbsp;&nbsp;&nbsp;<span class="th">this</span><span class="ab">-></span>universidad</span> <span class="beyaz"> =</span>
               <span class="ozellik">&nbsp;"Facultad de Ingenieria, Universidad de Los Andes - M&eacute;rida Venezuela"</span><span class="beyaz">;</span>
               <br>
               <span class="beyaz"></span>
               <span class="secici">&nbsp;&nbsp;&nbsp;<span class="th">this</span><span class="ab">-></span>postgrado</span> <span class="beyaz"> =</span>
               <span class="ozellik">&nbsp;"MSc Telecomunicaciones"</span><span class="beyaz">;</span>
               <br>
               {{llaveCierra}}
               <br>  
               <br>
               <br> 




               <br>               <span class="secici">&nbsp;&nbsp;&nbsp;konum</span> <span class="beyaz">:</span>
               <span class="ozellik">&nbsp;manisa</span><span class="beyaz">;</span>
               <span class="yorum" style="display:inline-block;">&nbsp;/* Memleket Aydın */</span>
               <br>
   
               <span class="secici">&nbsp;&nbsp;&nbsp;okul</span> <span class="beyaz">:</span>
               <span class="ozellik">&nbsp;cbü</span><span class="beyaz">;</span>
               <br>
   
               <span class="secici">&nbsp;&nbsp;&nbsp;bolum</span> <span class="beyaz">:</span>
               <span class="ozellik">&nbsp;<font color="#D6FF00">"Yazılım Mühendisliği"</font></span><span class="beyaz">;</span>
               <br>
   
               <span class="beyaz"></span>
               <br>
               <br>
   
   
   
               <span class="cl">.yetenekler</span>
               <br>
               <span class="beyaz"></span>
               <br>
   
               <span class="secici">&nbsp;&nbsp;&nbsp;html</span> <span class="beyaz">:</span>
               <span class="ozellik">&nbsp;100%</span><span class="beyaz">;</span>
               <br>
   
   
               <span class="secici">&nbsp;&nbsp;&nbsp;css</span> <span class="beyaz">:</span>
               <span class="ozellik">&nbsp;100%</span><span class="beyaz">;</span>
               <br>
   
               <span class="secici">&nbsp;&nbsp;&nbsp;responsive</span> <span class="beyaz">:</span>
               <span class="ozellik">&nbsp;98%</span><span class="beyaz">;</span>
               <br>
   
               <span class="secici">&nbsp;&nbsp;&nbsp;C</span> <span class="beyaz">:</span>
               <span class="ozellik">&nbsp;70%</span><span class="beyaz">;</span>
               <br>
   
               <span class="secici">&nbsp;&nbsp;&nbsp;bootstrap</span> <span class="beyaz">:</span>
               <span class="ozellik">&nbsp;98%</span><span class="beyaz">;</span>
               <br>
   
   
               <span class="secici">&nbsp;&nbsp;&nbsp;Jquery</span> <span class="beyaz">:</span>
               <span class="ozellik">&nbsp;43%</span><span class="beyaz">;</span>
               <br>
   
               <span class="beyaz"></span>
               <br>
               <br>
   
               <span class="id">#en-sevdigim-soz</span>
               <br>
               <span class="beyaz"></span>
               <br>
   
               <span class="secici">&nbsp;&nbsp;&nbsp;content</span> <span class="beyaz">:</span>
               <span class="ozellik">&nbsp;<font color="#D6FF00">"Your future is created by what you do today not tomorrow."</font></span><span class="beyaz">;</span>
               <br>
               
   
               <span class="beyaz"></span>
               <br>
               <br>
               <br>
               <br>
               <br>
               <br>
               <br>
               <br>
               <br>
               <br>
               <br>
               <br>
               <br>
               <br>
               <br>
               <br>
               <br>
               <br>
               <br>
               <br>
               <br>
               <br>
               <br>
               <br>
               <br>
               <br>
              
   
           </div>
   
           <div class="temizle"></div>
       </div>
   
   
       <div id="alt">
           &copy; 2022<a href="#">Alain Diaz</a>
       </div>
   </div>

</div>