<meta charset="utf-8">
<div class="body">


<div id="main">
    <div id="ust">
        <h4 id="baslik">RESUMEN ALAIN DIAZ</h4>
        <div id="islem">
            <div id="y"></div>
            <div id="s"></div>
            <div id="k"></div>
        </div>
        <div class="temizle"></div>
    </div>
   
    <div id="orta">
        <div id="no">         
           <span class="numara" *ngFor="let nun of numbers; let i=index">{{i+1}}</span>

        </div>
     
        <div id="satir">
            <span class="yorum">/*<br>&nbsp;&nbsp;&nbsp; Here Is My Profile. <a href="../../assets/cv/CV_ALAIN_DIAZ_2021_05.pdf" target="_blank" >{{datosPersonales.nombre}} </a> <br>*/</span>
               <br>
              

               <span class="ab">class </span><span class="cl">datosPersonales </span> {{llaveAbre}}  
               <br>
               <span class="beyaz"></span>
               <span class="secici">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="ab">private</span> name</span> <span class="beyaz">=</span>
               <span class="ozellik">&nbsp;"{{datosPersonales.nombre}}"</span><span class="beyaz">;</span>
               <br>
               <span class="secici">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="ab">private</span> email</span> <span class="beyaz">=</span>
               <span class="ozellik">&nbsp;"{{datosPersonales.email}}"</span><span class="beyaz">;</span>
               <br>
               <span class="secici">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="ab">private</span> telefono</span> <span class="beyaz">=</span>
               <span class="ozellik">&nbsp;"{{datosPersonales.tlf}}"</span><span class="beyaz">;</span>
               <br>
               <span class="secici">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="ab">private</span> linkedIn</span> <span class="beyaz">=</span>
               <span class="ozellik">&nbsp; "{{datosPersonales.linkedin}}"</span><span class="beyaz">;</span>
               <br>
               {{llaveCierra}}
               <br>
               <br>

               <span class="ab"> function </span> <span class="ti"> educaci&oacute;n ()</span> {{llaveAbre}}  
               <br>
               <span class="beyaz"></span>
               <span class="secici">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="th">this</span><span class="ab">-></span>universidad</span> <span class="beyaz"> =</span>
               <span class="ozellik">&nbsp;"Facultad de Ingenieria, Universidad de Los Andes - M&eacute;rida Venezuela"</span><span class="beyaz">;</span>
               <br>
               <span class="beyaz"></span>
               <span class="secici">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="th">this</span><span class="ab">-></span>titulo</span> <span class="beyaz"> =</span>
               <span class="ozellik">&nbsp;"Ingeniero de Sistemas - Opci&oacute;n Sistemas Computacionales"</span><span class="beyaz">;</span>
               <br>
               <span class="beyaz"></span>
               <span class="secici">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="th">this</span><span class="ab">-></span>universidad</span> <span class="beyaz"> =</span>
               <span class="ozellik">&nbsp;"Facultad de Ingenieria, Universidad de Los Andes - M&eacute;rida Venezuela"</span><span class="beyaz">;</span>
               <br>
               <span class="beyaz"></span>
               <span class="secici">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="th">this</span><span class="ab">-></span>postgrado</span> <span class="beyaz"> =</span>
               <span class="ozellik">&nbsp;"MSc Telecomunicaciones"</span><span class="beyaz">;</span>
               <br>
               {{llaveCierra}}
               <br>  
               <br>

               <span class="yorum">/*<br>&nbsp;&nbsp;&nbsp; Experiencia Laboral.  <br>*/</span> 
               <br>

               <span class="secici">&nbsp;&nbsp;&nbsp;{{tresit.nombreEmpresa}}: <br> &nbsp;&nbsp;</span>  {{llaveAbre}}  <br>
               <span class="ab">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"Cargo": </span> <span class="ti"> "{{tresit.cargo}}"</span>
               <span class="beyaz">,</span>
               <br>
               <span class="ab">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"Fecha": </span> <span class="ti"> "{{tresit.fecha}}"</span>
               <span class="beyaz">,</span>
               <br>
               <span class="ab">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"Ciudad": </span> <span class="ti"> "{{tresit.ciudad}}"</span>
               <span class="beyaz">,</span>
               <br>
               <span class="ab">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"Proyectos": </span> [ <br>
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{llaveAbre}} 
               <br>  
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <span class="ti"> "{{tresit.p1}}"</span>
               <span class="beyaz">,</span>
               <br>
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <span class="ti"> "{{tresit.p2}}"</span>
               <span class="beyaz">,</span>
               <br>
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{llaveCierra}}
               <br> 
               &nbsp;&nbsp;&nbsp;{{llaveCierra}}
               <br>
               <br>

               <span class="secici">&nbsp;&nbsp;&nbsp;{{netred.nombreEmpresa}}: <br> &nbsp;&nbsp;</span>  {{llaveAbre}}  <br>
               <span class="ab">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"Cargo": </span> <span class="ti"> "{{netred.cargo}}"</span>
               <span class="beyaz">,</span>
               <br>
               <span class="ab">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"Fecha": </span> <span class="ti"> "{{netred.fecha}}"</span>
               <span class="beyaz">,</span>
               <br>
               <span class="ab">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"Ciudad": </span> <span class="ti"> "{{netred.ciudad}}"</span>
               <span class="beyaz">,</span>
               <br>
               <span class="ab">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"Proyectos": </span> [ <br>
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{llaveAbre}} 
               <br>  
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <span class="ti"> "{{netred.p1}}"</span>
               <span class="beyaz">,</span>
               <br>
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <span class="ti"> "{{netred.p2}}"</span>
               <span class="beyaz">,</span>
               <br>
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <span class="ti"> "{{netred.p3}}"</span>
               <span class="beyaz">,</span>
               <br>
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{llaveCierra}}
               <br> 
               &nbsp;&nbsp;&nbsp;{{llaveCierra}}
               <br>
               <br>

               <span class="secici">&nbsp;&nbsp;&nbsp;{{glovocapital.nombreEmpresa}}: <br> &nbsp;&nbsp;</span>  {{llaveAbre}}  <br>
               <span class="ab">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"Cargo": </span> <span class="ti"> "{{glovocapital.cargo}}"</span>
               <span class="beyaz">,</span>
               <br>
               <span class="ab">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"Fecha": </span> <span class="ti"> "{{glovocapital.fecha}}"</span>
               <span class="beyaz">,</span>
               <br>
               <span class="ab">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"Ciudad": </span> <span class="ti"> "{{glovocapital.ciudad}}"</span>
               <span class="beyaz">,</span>
               <br>
               <span class="ab">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"Proyectos": </span> [ <br>
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{llaveAbre}} 
               <br>  
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <span class="ti"> "{{glovocapital.p1}}"</span>
               <span class="beyaz">,</span>
               <br>
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <span class="ti"> "{{glovocapital.p2}}"</span>
               <span class="beyaz">,</span>
               <br>
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{llaveCierra}}
               <br> 
               &nbsp;&nbsp;&nbsp;{{llaveCierra}}
               <br>
               <br>

               <span class="secici">&nbsp;&nbsp;&nbsp;{{kpi.nombreEmpresa}}: <br> &nbsp;&nbsp;</span>  {{llaveAbre}}  <br>
               <span class="ab">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"Cargo": </span> <span class="ti"> "{{kpi.cargo}}"</span>
               <span class="beyaz">,</span>
               <br>
               <span class="ab">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"Fecha": </span> <span class="ti"> "{{kpi.fecha}}"</span>
               <span class="beyaz">,</span>
               <br>
               <span class="ab">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"Ciudad": </span> <span class="ti"> "{{kpi.ciudad}}"</span>
               <span class="beyaz">,</span>
               <br>
               <span class="ab">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"Proyectos": </span> [ <br>
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{llaveAbre}} 
               <br>  
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <span class="ti"> "{{kpi.p1}}"</span>
               <span class="beyaz">,</span>
               <br>
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <span class="ti"> "{{kpi.p2}}"</span>
               <span class="beyaz">,</span>
               <br>
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <span class="ti"> "{{kpi.p3}}"</span>
               <span class="beyaz">,</span>
               <br>
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{llaveCierra}}
               <br> 
               &nbsp;&nbsp;&nbsp;{{llaveCierra}}
               <br>
               <br> 
           
               <span class="secici">&nbsp;&nbsp;&nbsp;{{actis.nombreEmpresa}}: <br> &nbsp;&nbsp;</span>  {{llaveAbre}}  <br>
               <span class="ab">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"Cargo": </span> <span class="ti"> "{{actis.cargo}}"</span>
               <span class="beyaz">,</span>
               <br>
               <span class="ab">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"Fecha": </span> <span class="ti"> "{{actis.fecha}}"</span>
               <span class="beyaz">,</span>
               <br>
               <span class="ab">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"Ciudad": </span> <span class="ti"> "{{actis.ciudad}}"</span>
               <span class="beyaz">,</span>
               <br>
               <span class="ab">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"Proyectos": </span> [ <br>
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{llaveAbre}} 
               <br>  
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <span class="ti"> "{{actis.p1}}"</span>
               <span class="beyaz">,</span>
               <br>
               <span class="beyaz">,</span>
               <br>
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{llaveCierra}}
               <br> 
               &nbsp;&nbsp;&nbsp;{{llaveCierra}}
               <br>
               <br> 

               <span class="secici">&nbsp;&nbsp;&nbsp;{{redpill.nombreEmpresa}}: <br> &nbsp;&nbsp;</span>  {{llaveAbre}}  <br>
               <span class="ab">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"Cargo": </span> <span class="ti"> "{{redpill.cargo}}"</span>
               <span class="beyaz">,</span>
               <br>
               <span class="ab">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"Fecha": </span> <span class="ti"> "{{redpill.fecha}}"</span>
               <span class="beyaz">,</span>
               <br>
               <span class="ab">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"Ciudad": </span> <span class="ti"> "{{redpill.ciudad}}"</span>
               <span class="beyaz">,</span>
               <br>
               <span class="ab">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"Proyectos": </span> [ <br>
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{llaveAbre}} 
               <br>  
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <span class="ti"> "{{redpill.p1}}"</span>
               <span class="beyaz">,</span>
               <br>
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <span class="ti"> "{{redpill.p2}}"</span>
               <span class="beyaz">,</span>
               <br>
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <span class="ti"> "{{redpill.p3}}"</span>
               <span class="beyaz">,</span>
               <br>
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{llaveCierra}}
               <br> 
               &nbsp;&nbsp;&nbsp;{{llaveCierra}}
               <br>
               <br>

               <span class="secici">&nbsp;&nbsp;&nbsp;{{systam.nombreEmpresa}}: <br> &nbsp;&nbsp;</span>  {{llaveAbre}}  <br>
               <span class="ab">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"Cargo": </span> <span class="ti"> "{{systam.cargo}}"</span>
               <span class="beyaz">,</span>
               <br>
               <span class="ab">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"Fecha": </span> <span class="ti"> "{{systam.fecha}}"</span>
               <span class="beyaz">,</span>
               <br>
               <span class="ab">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"Ciudad": </span> <span class="ti"> "{{systam.ciudad}}"</span>
               <span class="beyaz">,</span>
               <br>
               <span class="ab">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"Proyectos": </span> [ <br>
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{llaveAbre}} 
               <br>  
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <span class="ti"> "{{systam.p1}}"</span>
               <span class="beyaz">,</span>
               <br>
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{llaveCierra}}
               <br>  
               <br> 
               &nbsp;&nbsp;&nbsp;{{llaveCierra}}
               <br>
               <br> 

               <span class="secici">&nbsp;&nbsp;&nbsp;{{gotaim.nombreEmpresa}}: <br> &nbsp;&nbsp;</span>  {{llaveAbre}}  <br>
               <span class="ab">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"Cargo": </span> <span class="ti"> "{{gotaim.cargo}}"</span>
               <span class="beyaz">,</span>
               <br>
               <span class="ab">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"Fecha": </span> <span class="ti"> "{{gotaim.fecha}}"</span>
               <span class="beyaz">,</span>
               <br>
               <span class="ab">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"Ciudad": </span> <span class="ti"> "{{gotaim.ciudad}}"</span>
               <span class="beyaz">,</span>
               <br>
               <span class="ab">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"Proyectos": </span> [ <br>
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{llaveAbre}} 
               <br>  
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <span class="ti"> "{{gotaim.p1}}"</span>
               <span class="beyaz">,</span>
               <br>
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <span class="ti"> "{{gotaim.p2}}"</span>
               <span class="beyaz">,</span>
               <br>
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <span class="ti"> "{{gotaim.p3}}"</span>
               <span class="beyaz">,</span>
               <br>
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{llaveCierra}}
               <br> 
               &nbsp;&nbsp;&nbsp;{{llaveCierra}}
               <br>
               <br>

               <span class="secici">&nbsp;&nbsp;&nbsp;{{sao.nombreEmpresa}}: <br> &nbsp;&nbsp;</span>  {{llaveAbre}}  <br>
               <span class="ab">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"Cargo": </span> <span class="ti"> "{{sao.cargo}}"</span>
               <span class="beyaz">,</span>
               <br>
               <span class="ab">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"Fecha": </span> <span class="ti"> "{{sao.fecha}}"</span>
               <span class="beyaz">,</span>
               <br>
               <span class="ab">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"Ciudad": </span> <span class="ti"> "{{sao.ciudad}}"</span>
               <span class="beyaz">,</span>
               <br>
               <span class="ab">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"Proyectos": </span> [ <br>
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{llaveAbre}} 
               <br>  
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <span class="ti"> "{{sao.p1}}"</span>
               <span class="beyaz">,</span>
               <br>
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <span class="ti"> "{{sao.p2}}"</span>
               <span class="beyaz">,</span>
               <br>
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{llaveCierra}}
               <br> 
               &nbsp;&nbsp;&nbsp;{{llaveCierra}}
               <br>
               <br>

               <span class="secici">&nbsp;&nbsp;&nbsp;{{alcaldia.nombreEmpresa}}: <br> &nbsp;&nbsp;</span>  {{llaveAbre}}  <br>
               <span class="ab">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"Cargo": </span> <span class="ti"> "{{alcaldia.cargo}}"</span>
               <span class="beyaz">,</span>
               <br>
               <span class="ab">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"Fecha": </span> <span class="ti"> "{{alcaldia.fecha}}"</span>
               <span class="beyaz">,</span>
               <br>
               <span class="ab">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"Ciudad": </span> <span class="ti"> "{{alcaldia.ciudad}}"</span>
               <span class="beyaz">,</span>
               <br>
               <span class="ab">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"Proyectos": </span> [ <br>
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{llaveAbre}} 
               <br>  
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <span class="ti"> "{{alcaldia.p1}}"</span>
               <span class="beyaz">,</span>
               <br>
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <span class="ti"> "{{alcaldia.p2}}"</span>
               <span class="beyaz">,</span>
               <br>
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <span class="ti"> "{{alcaldia.p3}}"</span>
               <span class="beyaz">,</span>
               <br>
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{llaveCierra}}
               <br> 
               &nbsp;&nbsp;&nbsp;{{llaveCierra}}
               <br>
               <br>

               <span class="secici">&nbsp;&nbsp;&nbsp;{{pdvsa.nombreEmpresa}}: <br> &nbsp;&nbsp;</span>  {{llaveAbre}}  <br>
               <span class="ab">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"Cargo": </span> <span class="ti"> "{{pdvsa.cargo}}"</span>
               <span class="beyaz">,</span>
               <br>
               <span class="ab">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"Fecha": </span> <span class="ti"> "{{pdvsa.fecha}}"</span>
               <span class="beyaz">,</span>
               <br>
               <span class="ab">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"Ciudad": </span> <span class="ti"> "{{pdvsa.ciudad}}"</span>
               <span class="beyaz">,</span>
               <br>
               <span class="ab">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"Proyectos": </span> [ <br>
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{llaveAbre}} 
               <br>  
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <span class="ti"> "{{pdvsa.p1}}"</span>
               <span class="beyaz">,</span>
               <br>
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{llaveCierra}}
               <br> 
               &nbsp;&nbsp;&nbsp;{{llaveCierra}}
               <br>
               <br>

               <span class="cl">.conocimientos_generales</span>
               <br>
               <span class="beyaz"></span>
               <br>
                  <span class="secici" *ngFor="let know of conocimientos;"><li>{{know}} </li><br></span> <span class="beyaz"></span>
      

               <!-- <br><br>
               <span class="ozellik">&nbsp;100%</span><span class="beyaz">;</span>
               <br>
   
   
               <span class="secici">&nbsp;&nbsp;&nbsp;PHP</span> <span class="beyaz">:</span>
               <span class="ozellik">&nbsp;100%</span><span class="beyaz">;</span>
               <br>
   
               <span class="secici">&nbsp;&nbsp;&nbsp;responsive</span> <span class="beyaz">:</span>
               <span class="ozellik">&nbsp;98%</span><span class="beyaz">;</span>
               <br>
   
               <span class="secici">&nbsp;&nbsp;&nbsp;C</span> <span class="beyaz">:</span>
               <span class="ozellik">&nbsp;70%</span><span class="beyaz">;</span>
               <br>
   
               <span class="secici">&nbsp;&nbsp;&nbsp;bootstrap</span> <span class="beyaz">:</span>
               <span class="ozellik">&nbsp;98%</span><span class="beyaz">;</span>
               <br>
   
   
               <span class="secici">&nbsp;&nbsp;&nbsp;Jquery</span> <span class="beyaz">:</span>
               <span class="ozellik">&nbsp;43%</span><span class="beyaz">;</span>
               <br>
   
               <span class="beyaz"></span>
               <br>
               <br>
   
               <span class="id">#en-sevdigim-soz</span>
               <br>
               <span class="beyaz"></span>
               <br>
   
               <span class="secici">&nbsp;&nbsp;&nbsp;content</span> <span class="beyaz">:</span>
               <span class="ozellik">&nbsp;<font color="#D6FF00">"Your future is created by what you do today not tomorrow."</font></span><span class="beyaz">;</span>
               <br>
               
   
               <span class="beyaz"></span>
             
   -->
           </div>
   
           <div class="temizle"></div>
       </div> 

       <div id="alt">
           &copy; 2022<a href="#">Alain Diaz</a>
       </div>
   </div>

</div>